@import "tailwindcss";
body {
  background: #e9e4da;
  color: #2f3e1f;
  font-family: ui-sans-serif, system-ui;
}
:root {
  --font-heading: 'Playfair Display', serif;
  --font-body: 'Inter', sans-serif;
}

h1, h2, h3 {
  font-family: var(--font-heading);
}
